<div>
 
  <% if (title) { %>
    <h1 id="update_form"><%= title %></h1>
    <% } else {
    res.redirect('/')
  } %>

  <%- messages() %>

  <% if (errors) { %>
    <ul class="notice">
  <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
  <%  }) %>
    </ul>
  <% } %>

</div>


<form id="upUser_box" action="/account/update-user" method="post">
      <fieldset><legend><h3>Update User information</h3></legend>

      <label>First Name:</label>
      <input type="text" name="account_firstname" required value="<%= locals.accountData.account_firstname %>">
     
      <label>Last Name:</label>
      <input type="text" name="account_lastname" required value="<%= locals.accountData.account_lastname %>">
     
      <label>Email:</label>
      <input type="email" name="account_email" placeholder="email@example.com" required value="<%= locals.accountData.account_email %>">
     
      <input type="hidden" name="account_id" required value="<%= locals.accountData.account_id %>">

      <button type="submit" class="btn">Update Information</button>

    </fieldset>
</form>

<form id="upPass_box" action="#">
<fieldset><legend><h3>Update User Password</h3></legend>

<div class="input-group">
  <label for="account_password">Password</label>
  <span> must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span>
  <input type="password" id="account_password" class="form-control" name="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
 
  <button type="button" id="btnToggle" class="toggle show-password">Show Pasword<i id="showpassword" class="showpassword"></i></button>
</div>
<button type="submit" class="btn">Update Password</button>
<% if(locals.account_id) { %> value="<%= locals.account_id %>"
<% } %>
</fieldset>
</form>

<script src='/js/script.js'></script>