<div>
    <% if (title) { %>
      <h1 id="login_form"><%= title %></h1>
      <% } else {
      res.redirect('/')
    } %>
  
    <%- messages() %>
  
    <% if (errors) { %>
      <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <%  }) %>
      </ul>
    <% } %>


    <form id="login_box"  action="/inv/add-inventory" method="post">
    
        <label for="classification_id">Classification</label>
        <br>
        <%- classificationSelect %>
        <br>
        <br>
        <label for="inv_make">Make</label>
        <input type="text" id="inv_make" name="inv_make" minlength="3" placeholder="Min of 3 characters" required value="<%= locals.inv_make %>">
    
        <label for="inv_model">Model</label>
        <input type="text" id="inv_model" name="inv_model" minlength="3" placeholder="Min of 3 characters" required value="<%= locals.inv_model %>">
       
        <label for="inv_description">Description</label>
        <br>
        <textarea id="inv_description" class="inv_description" name="inv_description" rows="3" required><%= locals.inv_description %></textarea>
        <br>
        <br>
        <label for="inv_image">Image Path</label>
        <input type="text" id="inv_image" name="inv_image" placeholder="Blank Image" required readonly value="/images/vehicles/no-image.png">
    
        <label for="inv_thumbnail">Thumbnail Path</label>
        <input type="text" id="inv_thumbnail" name="inv_thumbnail" placeholder="Blank Thumbnail" required readonly value="/images/vehicles/no-image-tn.png">
    
        <label for="inv_price">Price</label>
        <input type="text" id="inv_price" name="inv_price" placeholder="decimal or integer" required value="<%= locals.inv_price %>">
    
        <label for="inv_year">Year</label>
        <input type="text" id="inv_year" name="inv_year" placeholder="4-digit Year" required value=" <%= locals.inv_year %>">

        <label for="inv_miles">Miles</label>
        <input type="text" id="inv_miles" name="inv_miles" placeholder="digits only" required value=" <%= locals.inv_miles %>">
    
        <label for="inv_color">Color</label>
        <input type="text" id="inv_color" name="inv_color" required value="<%= locals.inv_color %>">
    
        <button type="submit" class="btn">Add Inventory Item</button>
    
    </form>


    <div class="links">
        <p><a href="../../inv">Back to Menu</a></p>
    </div>

</div>